html {
  height: 100%;
}

body{
  width: auto;
  height: 100%;
}

.wrapper {
  width: auto;
  height: 100%;
}

.background {
  height: 100vh;
  display: flex;
  background-color: #d4f2f4;
  width: 100%;
  height: auto;
  min-height: 100%;
}

.content {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  padding: 10px 30px;
  font-family: 'Poppins', sans-serif;
  border: 1px solid #aab6b7;
  box-shadow: 2px 5px #aab6b7;
  background-color: white;
}

.lawyer-block {
  border: 1px solid gray;
  margin-bottom: 10px;
  padding-bottom: 50px;
  padding-left: 15px;
  position: block;
  clear: both;
  background-color: #dee7f4;
  width: 400px;
  height: auto;
}

.lawyer-block .title {
  font-size: 1.5em;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear:both;
}

/* ---- Header ---- */

header {
  padding: 5;
  font-family: 'Baloo Bhai', cursive;
  font-size: 2em;
  height: 100px;
}

header h1 {
  display: inline;
  text-align: center;
  position: absolute;
  top: -24px;
  left: 225px;
}

.header-image {
  max-width: 100%;
  height: 100px;
  position: absolute;
  top: 10px;
  left: 10px;
}

/* ---- Navbar ---- */

#navbar {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #68e2ed;
  position: absolute;;
  top: 10;
  left: 0;
  width: 100%;
  z-index: 2;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

#navbar nav {
  border-left: 1px solid #ccc;
}

#navbar nav a {
  display: inline-block;
  width: 15.8%;
  margin: 0;
  padding: 10px 0;
  text-transform: uppercase;
  color: #313535;
  text-align: center;
  border-right: 1px solid #ccc;
  text-decoration: none;
}

#navbar nav a.selected {
  background: #333;
  color: white;
}

#navbar nav a:hover {
  color: white;
  background: #489ea8;
}

#navbar nav a.menu-icon {
  display: none;
}

/* ---- FORMS ---- */

form label {
  font-size: 1.2em;
}

form .help-text {
  font-style: italic;
  font-size: .9em;
}

.not-button {
  padding: 5px;
  padding-left: 15px;
  background-color: #f2f6fc;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  display: block;
}

.button:hover {
  background-color: #229627;
}

.lawyer-button {
  float: left;
  background-color: #6ba2f9; /* Blue */
  border: none;
  color: white;
  padding: 10px 16px;
  margin-right: 5px;
  text-align: center;
  text-decoration: none;
  display: inline;
  font-size: 16px;
}

.lawyer-button:hover {
  background-color: #3e82ef; /* Darker Blue */
}

/* ---- MEDIA ---- */
#lawyer-icon {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}
