<% if flash.has?(:message) %>
  <h3 style="color:red;"><%= flash[:message] %></h3>
<% end %>
<form action="/login" method="post">
  <p><label for="username">Username</label>
  <input type="text" name="user[username]" id="username"></p>
  <p><label for="password">Password</label>
  <input type="password" name="user[password]" id="password"></p>
  <input type="submit" value="Login">
</form>
