<% if !@user.lawyers.empty? %>
  <% @user.lawyers.each do |lawyer| %>
    <p><strong><a href="/lawyers/<%= lawyer.slug %>"><%= lawyer.name %></a></strong></p>
    <p><a href="/lawyers/<%= lawyer.slug %>/edit"></a>Edit this lawyer</p>
  <% end %>
<% else %>
  <br>
  <strong>You haven't added any lawyers yet.</strong>
<% end %>
<p><button><a href="/lawyers/new">Add a lawyer</a></button></p>
