<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>LGBTQ Lawyer Referrals</title>
  </head>
  <body>
    <header>
      <h1>LGBTQ Lawyers</h1>
      <hr>
      <h3>|    <a href="/">Home</a>    |    <a href="/lawyers">View Lawyers</a>    |    <a href="https://www.lawhelpmn.org" target="_blank">LawHelpMN</a>    |    <% if logged_in? %>    <a href="/users/<%= current_user.slug %>">My Profile</a>    |    <a href="/logout">Logout</a><% else %><a href="/login">Login</a>    |    <a href="/signup">Sign Up</a><% end %>    |</h3>
      <hr>
    </header>
    <%= yield %>
  </body>
</html>
